.full_body {
  margin: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5vh;
}

.firstRow {
  display: flex;
  justify-content: space-between;
  padding: 2% 10% 2% 10%;
}

.hed {
  font-weight: bold;
}

.item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subHead {
  font-weight: 900;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.subHead2 {
  font-weight: 700;
}

.content {
  font-weight: 400;
  margin-bottom: 1vh;
}

.parent {
  display: flex;
  justify-content: space-around;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
