.full_body {
  margin: 2%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
}

.allItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  border: 1px solid black;
  padding: 15px 0 15px 0;
  border-radius: 8px;
}

.item {
  width: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hed {
  font-weight: bold;
}

button {
  cursor: pointer;
  background-color: #0e2954;
  padding: 15px;
  border-radius: 15px;
  color: #9db2bf;
  font-weight: 600;
}

button:hover {
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: center;
}

.currPage {
  margin-left: 2vw;
  margin-right: 2vw;
}
